.sign-up {
  float: right;
  margin: 5px 0px 0px 0px;
  font-size: 16px;
}

.log-in {
  padding-right: 20px;
  font-size: 14px;
}

.jumbotron {
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

form {
  border: 2px solid green;
}

h1 {
  text-align: center;
}

.lead {
  text-align: center;
}

.questionView, .answerView {
  border: 1px solid green;
  height: 35%;
}

.submitView {
  border: 1px solid green;
  height: 6%;
}

.modules, .stats {
  border: 1px solid green;
}
.mainView {
  margin: 0px 10%;
}