.jumbotron {
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

h1 {
  text-align: center;
}

.lead {
  text-align: center;
}

.questionView {
  border-width: 2px 2px 1px 2px;
  border-style: solid;
  border-color: #4E7AB5;
  height: 350px;
}

.answerView {
  border-width: 1px 2px 1px 2px;
  border-style: solid;
  border-color: #4E7AB5;
  height: 350px;
}

.submitView {
  border-width: 1px 2px 2px 2px;
  border-style: solid;
  border-color: #4E7AB5;
  height: 75px;
}

.modules, .stats {
  border: 2px solid #4E7AB5;
  height: 775px;
}
.mainView {
  margin: 0px 10%;
}

.submit, .skip {
  float: right;
  margin: 8px 8px;
}

.answer-field {
  height: 100%;
  font-size: 2em;
}

.btn-google {
  width: 200px;
  height: auto;
  float: right;
}

.btn-google:hover {
  cursor: pointer;
  cursor: hand;
}

.profile-pic {
  width: auto;
  height: 20px;
}

.questionView {
  font-size: 3em;
}

.seconds-timer {
  font-size: 1.5em;
  font-weight: bold;
}

.wrong-answer-feedback {
  background-color: red;
  font-size: 1.5em;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
}

.correct-answer-feedback {
  background-color: lawngreen;
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden
}

th, tr {
  text-align: center;
}

.inactive {
   pointer-events: none;
   cursor: default;
}