<html>
  <head>
    <meta charset="utf-8">
    <title>QuizzerWizard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/slate/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/styles.css">
  </head>
  <body>

    <div class="nav navbar">

      <ul class="nav navbar-nav navbar-right">
        <!-- remove open and set aria-expanded to false to hide dropdown -->
        <li class="dropdown open">
          <a href="#" class="dropdown-toggle profile" data-toggle="dropdown" role="button" aria-expanded="true">Profile <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Signed in as</a></li>
            <li class="divider"></li>
            <li><a href="#">Your Stats</a></li>
            <li class="divider"></li>
            <li><a href="#">Account Settings</a></li>
            <li><a href="#">Sign out</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-3">Modules</div>
        <div class="col-lg-6">Question</div>
        <div class="col-lg-3">Stats</div>
      </div>
    </div>


  </body>
</html>