<html>
  <head>
    <meta charset="utf-8">
    <title>QuizzerWizard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/slate/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/styles.css">
  </head>
  <body>

    <div class="nav navbar">
      <div class="btn btn-success container-fluid sign-up">Sign Up</div>
      <ul class="nav navbar-nav navbar-right log-in">
        <li><a href="#">Log In</a></li>
      </ul>
    </div>

    <div class="jumbotron">
      <h1>Quizzer Wizard</h1>
      <img class="wizard" src="https://cdn.pixabay.com/photo/2016/06/13/14/57/wizard-1454385_960_720.png" alt="">
      <p>
        <a class="btn btn-primary btn-lg btn-success">Start Quizzing</a>
        <a class="btn btn-primary btn-lg">Visit our Github</a>
      </p>
    </div>

  </body>
</html>