<html>
<head>
  <meta charset="utf-8">
  <title>QuizzerWizard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/slate/bootstrap.min.css">
  <link rel="stylesheet" href="./public/styles.css">
  {{#if user}}
    <script type="text/javascript">document.user = "{{user}}";</script>
  {{/if}}
</head>
<body>
{{{body}}}
</body>
</html>