<div class="container">
  <form id="question" class="form-horizontal">
    <fieldset>
      <legend>Add Question Form</legend>
      <div class="form-group">
        <label for="inputCategory" class="col-lg-2 control-label">Category</label>
        <div class="col-lg-8">
          <input required type="text" class="form-control" id="inputCategory" placeholder="Category">
        </div>
      </div>
      <div class="form-group">
        <label for="questionText" class="col-lg-2 control-label">Question Text</label>
        <div class="col-lg-8">
          <textarea class="form-control" rows="3" id="questionText" placeholder="Question Text"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="inputAnswer" class="col-lg-2 control-label">Question Answer</label>
        <div class="col-lg-8">
          <input required type="form-control" class="form-control" id="inputAnswer" placeholder="Answer">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Question Type</label>
        <div class="col-lg-8">
          <div class="radio">
            <label>
              <input required type="radio" name="questionType" id="optionsRadios1" value="textResponse" checked="">
              Text Response
            </label>
          </div>
          <div class="radio">
            <label>
              <input required type="radio" name="questionType" id="optionsRadios2" value="multipleChoice">
              Multiple Choice
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="select" class="col-lg-2 control-label">Difficulty</label>
        <div class="col-lg-8">
          <select class="form-control" id="select">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="inputTime" class="col-lg-2 control-label">Time Allowed(ms)</label>
        <div class="col-lg-8">
          <input required type="number" class="form-control" id="inputTime" placeholder="10000">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAuthor" class="col-lg-2 control-label">Author</label>
        <div class="col-lg-8">
          <input disabled type="form-control" class="form-control" id="inputAuthor" value="admin">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-8 col-lg-offset-2">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<script>
  $(document).ready(function(){
    $('#inputAuthor').val(document.user.displayName);


    $('form').submit(function() {
      var questionData = {
        category: $('#inputCategory').val(),
        questionText: $('#questionText').val(),
        answerText: $('#inputAnswer').val(),
        questionType: $('input[name=questionType]:checked').val(),
        difficulty: Number($('#select').val()),
        time: Number($('#inputTime').val()),
        author: $('#inputAuthor').val()
      };

      $.ajax({
        url: 'http://127.0.0.1:8080/questions',
        type: 'POST',
        data: questionData,
        success: function(data) {
          alert('Question submitted!');
          location.reload();
        },
        error: function(err) {
          alert('There was an error submitting the question.');
        }
      })
      event.preventDefault();
    });
  });
</script>